html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body{
  margin: 0;
  background: #F7F9FF;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 100px;
  

  header {
    height: 100px;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
  
    img{
      width: 100px;
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      
      li {
        display: block;
  
      }
    }
   
  }

  #content {
    width: 60vw;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .panel{
    height: 100vh;
    width: 20vw;
    position: fixed;
    background: #e6f4f1;
    top: 0;

    &.left-panel{
      left: 0;
    }

    &.right-panel {
      right: 0;
      background: #E6F4F1;
    }
  }

  .row{
    position: relative;
  }

  form{
    margin: 20px 10px;
    padding: 15px;
    text-align: left;
    border: 1px #3a539b solid;

    .row{
      width: 100%;
      margin: 10px 0;
    }

    label {
      display: block;
    }

    input, select, button {
      min-height: 30px;
      margin-top: 5px;
      width: 100%;
    }

    input, select {
      background: transparent;
      color: #2c3e50;
      border: 1px #3a539b solid;
      padding-left: 10px; 
    }

    button {
      background: transparent;
      border: 1px #3a539b solid;
      color: #3a539b;
      cursor: pointer;
      transition: all .1s ease;

      &:hover{
        background: #3a539b;
        color: white;
      }
    }
  }
  
}

